<div>
  <p class='country-name'>{{name}}</p>
  <p class='country-capital-wrapper'>Capital: <span class='country-capital'>{{capital}}</span></p>
  <p class='country-languages-title'>Languages:</p>
  <ul class='country-languages'>
    {{#each languages}}
      <li class='language'>{{this.name}}</li>
    {{/each}}</ul>
</div>
<img src={{flag}} alt='{{name}} national flag' class='country-flag' />